<a href="https://colab.research.google.com/github/MarcioSilva007/Python_Para_Iniciantes/blob/main/Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Listas -> Possui varios ou nenhum elementos

In [3]:
#Declarando listas

aluno = ["Leo", "Cristiano", "Robervan", "Cleiton"]
curso = []
notas = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
aluno = ["Leo", "Cristiano", "Robervan", "Cleiton"]
print (aluno[3])

Cleiton

In [5]:
#Todos os itens da lista
for aluno_x in aluno:
  print (aluno_x)

Leo
Cristiano
Robervan
Cleiton

###Operadores
count - conta itens do valor desejado

append - adiciona valor ao final da lista

insert - adiciona um valor na posição desejada

remove - remove um iten da lista

sort - ordena itens da lista

len - quantidade de itens da lista

in - verificar se pertence a lista

not in - verificar se não pertence a lista

In [30]:
aluno = ["Leo", "Cristiano", "Robervan", "Cleiton", "Giovanna\n\n"]
print("Impressão da lista de alunos inicial:\n\n", aluno)

aluno.append("Maria")
print("Impressão da lista de alunos após inclusão de Maria:\n\n", aluno)


aluno.insert(2,"Gilberto")
print("Impressão da lista de alunos após inclusão de Gilberto na posição 2:\n\n",aluno)


aluno.remove("Cleiton")
print("Impressão da lista de alunos após exclusão de Cleiton:\n\n", aluno)


aluno[4] = "Cristiano"
print("Impressão da lista de alunos após alteração do nome do índice 4 para Cristiano:\n\n", aluno)


contador = aluno.count("Giovanna")
print("Quantidade de alunos com nome Giovanna:\n\n ",contador)


print("Quantidade de elementos da lista:\n\n ", len(aluno))


aluno.sort()
print("Impressão da lista de alunos após ordenação (sort):\n",aluno)


if "Giovanna" in aluno:
    print("Giovanna pertence a lista")
if "Kaique" not in aluno:
    print("Kaique não pertence a lista")

Impressão da lista de alunos inicial:

 ['Leo', 'Cristiano', 'Robervan', 'Cleiton', 'Giovanna\n\n']
Impressão da lista de alunos após inclusão de Maria:

 ['Leo', 'Cristiano', 'Robervan', 'Cleiton', 'Giovanna\n\n', 'Maria']
Impressão da lista de alunos após inclusão de Gilberto na posição 2:

 ['Leo', 'Cristiano', 'Gilberto', 'Robervan', 'Cleiton', 'Giovanna\n\n', 'Maria']
Impressão da lista de alunos após exclusão de Cleiton:

 ['Leo', 'Cristiano', 'Gilberto', 'Robervan', 'Giovanna\n\n', 'Maria']
Impressão da lista de alunos após alteração do nome do índice 4 para Cristiano:

 ['Leo', 'Cristiano', 'Gilberto', 'Robervan', 'Cristiano', 'Maria']
Quantidade de alunos com nome Giovanna:

  0
Quantidade de elementos da lista:

  6
Impressão da lista de alunos após ordenação (sort):
 ['Cristiano', 'Cristiano', 'Gilberto', 'Leo', 'Maria', 'Robervan']
Kaique não pertence a lista